doctype html
html.bg-black
  head
    meta(charset="UTF-8")
    title 噗噗 ID 重置密码
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    // bootstrap 3.0.2
    link(href="./admin/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    // font Awesome
    link(href="./admin/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    // Theme style
    link(href="./admin/css/AdminLTE.css", rel="stylesheet", type="text/css")
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
  body.bg-black
    #login-box.form-box
      .header 噗噗 ID 重置密码
      form(action="../../index.html", method="post")
        .body.bg-gray
          .form-group
            input.form-control(type="text", name="userid", placeholder="电子邮件")
        .footer
          button.btn.bg-olive.btn-block(type="submit") 重置密码
          a.text-center(href="./adminRegister") 注册一个新帐户
    // jQuery 2.0.2
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    // Bootstrap
    script(src="./admin/js/bootstrap.min.js", type="text/javascript")
